{% extends 'base.html' %}
{% load static from static %}
{% block title %}Homepage{% endblock %}

{% block content %}

    <div class="space-medium">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                        <div class="feature-block-v7 feature-block">
                            <div class="feature-icon text-brand bg-brand-light mb-5">
                                <i class="fas fa-paint-roller"></i>
                            </div>
                            <div class="feature-content">
                                <h2>AMS</h2>
                                <p class="lead">Assignment Management System</p>
                                <hr class="m-t-30 m-b-30">
                                <p>Simple assignment management system where students and teacher can login and keep track of their assignments.</p>
                                <a href="{% url 'login'%}" class="btn btn-rounded btn-outline-primary">Login</a>
                            </div>
                        </div>
                    </div>

                    <div class="offset-xl-1 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="feature-app-img">
                            <img src="{% static  'images/homepage.png' %}" alt="picture">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}